body {
  margin: 2px;
}

.box {
  border: 5px solid;
  font-size: 5em;
  width: 230px;
  height: 250px;
  margin: auto;
}
#box2 {
  background-color: blueviolet;
  margin-left: 20px;
}
#box3 {
  background-color: rgb(251, 124, 78);
}
